@font-face {
  font-family: "Nativera";
  src: url("../../fonts/biscoti/biscotti.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
}



@font-face {
  font-family: "BiscotiCustom";
  src: url("../../fonts/biscoti/biscotti.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
