@font-face {
  font-family: "HelveticaBold";
  src: url("../../fonts/Helvetica-Bold.ttf") format("woff2");
  font-weight: 700; /* Light */
  font-style: normal;
}
@font-face {
  font-family: "HelveticaBoldRounded";
  src: url("../../fonts/helvetica-rounded-bold-5871d05ead8de.otf")
    format("woff2");
  font-weight: 700; /* Light */
  font-style: normal;
}

@font-face {
  font-family: "HelveticaFont";
  src: url("../../fonts/helvetica-light-587ebe5a59211.ttf") format("woff2");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "HelveticaFont";
  src: url("../../fonts/Helvetica.ttf") format("woff2");
  font-weight: 400; /* Normal */
  font-style: normal;
}

@font-face {
  font-family: "HelveticaRoundedNormal";
  src: url("../../fonts/helvetica-rounded-bold-5871d05ead8de.otf")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* Renders fallback font until custom font loads */
}
