.image-box {
  width: 80%;
  margin: auto;
  height: 250px;
  border: 2px dashed var(--neutral-300);
  background-color: var(--neutral-200);
  background-image: url("https://png.pngtree.com/png-vector/20190820/ourmid/pngtree-no-image-vector-illustration-isolated-png-image_1694547.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.thumbnails {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* space between thumbnails */
  margin-top: 10px;
}

.thumbnail {
  width: 150px;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
  border: 2px solid #ddd;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: relative;
}
