#pageLoader {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  // height: 100px;
  padding: 10px;
  background: var(--bg-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 9999;
}

#pageLoader img {
  width: 70px;
  height: 70px;
}

.spinner {
  animation: spinner 5s linear infinite;
}

/* Spin animation */
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-text {
  font-size: 1.2rem;
  color: var(--text-light);
}

.toggle-container {
  margin: 15px 0;
}

.toggle-switch {
  position: relative;
  width: 240px;
  height: 60px;
  background: #ddd;
  border-radius: 25px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  font-size: 14px;
  font-weight: 500;
  user-select: none;
}

.toggle-switch span {
  z-index: 2;
  // color: #555;
  color: var(--text-light);
  font-size: 16px;
  transition: color 0.3s ease;
  flex: 1;
  text-align: center;
}

.toggle-slider {
  position: absolute;
  top: 5px;
  left: 3px;
  width: 110px;
  height: 50px;
  background: var(--secondary);
  border-radius: 20px;
  transition: transform 0.3s ease, background 0.3s ease;
  z-index: 1;
}

.toggle-switch.active .toggle-slider {
  transform: translateX(120px);
  background: var(--secondary);
  color: var(--text-light);
}

.toggle-switch.active span:first-child {
  color: #555;
}
.toggle-switch.active span:last-child {
  color: #fff;
}

.toggle-switch:not(.active) span:first-child {
  color: #fff;
}
.toggle-switch:not(.active) span:last-child {
  color: var(--text-light);
}

/* Hide native radios */
.toggle-radios {
  display: none;
}

@media (max-width: 480px) {
  #pageLoader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
  }

  #pageLoader img {
    width: 60px;
    height: 60px;
  }

  .center-text-mobile {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  .followSocials a {
    text-align: center;
  }
}
