/* Ensure modal stays above everything */
.modal {
  z-index: 2000 !important;
}

.modal-content {
  background-color: var(--bg);
  color: var(--text);
}

.modal-backdrop {
  z-index: 1999 !important;
} /*# sourceMappingURL=main.css.map */

/* === Overlay === */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease;
  z-index: 9999;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

/* === Modal Box === */
.promo-modal {
  background: var(--bg);
  border-radius: 20px;
  max-width: 500px;
  width: 90%;
  padding: 30px 25px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
  transform: translateY(-30px);
  opacity: 0;
  transition: all 0.4s ease;
  position: relative;
}

.modal-overlay.active .promo-modal {
  transform: translateY(0);
  opacity: 1;
}

/* === Close Button === */
.promo-modal .close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  background: var(--bg);
  border: none;
  color: var(--text);
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 20px;
  line-height: 30px;
  transition: 0.3s;
}

.promo-modal .close-btn:hover {
  // background: var(--primary);
}

/* === Content === */
.promo-modal img {
  max-width: 100%;
}

.promo-modal .header-image {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}

.promo-modal .heading {
  color: #222;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.promo-modal .heading span {
  color: var(--primary);
  font-weight: 900;
}

.promo-modal p {
  color: #555;
  font-size: 1rem;
  margin-bottom: 25px;
}

/* === Buttons / Store Links === */
.store-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.store-btn {
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
}

.store-btn img {
  width: 90%;
  margin: auto;
  // margin-right: 8px;
}

// .store-btn.google {
//   background: var(--primary);
//   color: var(--text-white);
// }

// .store-btn.apple {
//   background: #000;
//   color: var(--text-white);
// }

.store-btn:hover {
  opacity: 0.85;
  transform: scale(1.03);
}

@media (max-width: 480px) {
  .promo-modal h2 {
    font-size: 1.3rem;
  }

  .promo-modal p {
    font-size: 0.95rem;
  }
}
