@font-face {
  font-family: "Nativera";
  src: url("../../fonts/nativera/nativera-bold.ttf") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Nativera";
  src: url("../../fonts/nativera/nativera-light.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Nativera";
  src: url("../../fonts/nativera/nativera-extrabold.ttf") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "NativeraCustom";
  src: url("../../fonts/nativera/nativera-medium.ttf") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
