@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

table {
  width: 100%;
  border-collapse: collapse;
  background: var(--bg);
  color: var(--text);
  font-family: "Quicksand", sans-serif;
}

th,
td {
  padding: 0.8rem;
  text-align: left;
  border-bottom: 1px solid #eee;
}

th {
  font-family: "HelveticaRoundedNormal";
  background: var(--primary);
  color: var(--text-light);
}

tbody tr:hover {
  background-color: var(--neutral-200);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.status {
  padding: 0.3rem 0.6rem;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: 600;
}

.pending {
  background: var(--accent);
  color: #856404;
}

.enroute {
  background: #856404;
  color: var(--text-light);
}

.preparing {
  background: #cce5ff;
  color: #004085;
}

.delivered,
.success,
.successful,
.active {
  background: #d4edda;
  color: #155724;
}

.cancelled,
.suspended,
.inactive {
  background: #f8d7da;
  color: #721c24;
}

.pizzasquare-table {
  // margin-top: 1rem;
  background: var(--bg);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  
}

table .avatar {
  width: 50px;
  height: 50px;
  border-radius: 100%;
}
