@import "./components/theme";
@import "./components/fonts";
@import "./components/nativera";
@import "./components/biscoti";
@import "./components/typography";
@import "./components/utils";
@import "./components/buttons";
@import "./components/forms";
@import "./components/loaders";
@import "./components/cards";
@import "./components/filters";
@import "./components/skelectons";
@import "./components/pagination";
@import "./components/navbar";
@import "./components/table";
@import "./components/images";
@import "./components/product";
@import "./components/cart";
@import "./components/modals";

@import "./pages/landingpages";
@import "./pages/auth";
@import "./pages/pos";
@import "./pages/admins";
@import "./pages/adminLayout";
@import "./components/adminNav";
